.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.971219;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.963867;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.964844;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-4.247184px;}
._7{margin-left:-1.451721px;}
._0{width:1.101617px;}
._4{width:3.026504px;}
._a{width:74.056628px;}
._b{width:75.244856px;}
._c{width:82.507575px;}
._6{width:445.591982px;}
._3{width:473.508675px;}
._1{width:788.368519px;}
._9{width:803.671864px;}
._8{width:847.549147px;}
._2{width:855.319769px;}
.fc3{color:rgb(255,255,255);}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(102,103,102);}
.fc0{color:rgb(70,133,198);}
.fs4{font-size:31.993853px;}
.fs2{font-size:35.650293px;}
.fs5{font-size:40.220843px;}
.fs1{font-size:48.447834px;}
.fs3{font-size:55.760714px;}
.fs0{font-size:92.325117px;}
.y0{bottom:1.500000px;}
.y1{bottom:1.704319px;}
.y23{bottom:215.501447px;}
.y32{bottom:217.558195px;}
.y22{bottom:224.414020px;}
.y21{bottom:236.297451px;}
.y31{bottom:244.981497px;}
.y20{bottom:247.266772px;}
.y30{bottom:268.748359px;}
.y1f{bottom:270.576579px;}
.y1e{bottom:279.489152px;}
.y1d{bottom:291.372583px;}
.y1c{bottom:300.285156px;}
.y1b{bottom:309.197729px;}
.y1a{bottom:318.110303px;}
.y2f{bottom:319.938523px;}
.y19{bottom:329.079623px;}
.y18{bottom:340.048944px;}
.y2e{bottom:341.648637px;}
.y2d{bottom:352.389430px;}
.y17{bottom:363.358751px;}
.y2c{bottom:371.128687px;}
.y16{bottom:374.328072px;}
.y15{bottom:385.297393px;}
.y14{bottom:404.722232px;}
.y2b{bottom:412.720695px;}
.y2a{bottom:437.173139px;}
.y13{bottom:449.056570px;}
.y29{bottom:461.625584px;}
.y12{bottom:462.311166px;}
.y11{bottom:476.022818px;}
.y28{bottom:486.078028px;}
.y27{bottom:505.502867px;}
.y10{bottom:508.016670px;}
.yf{bottom:521.271266px;}
.ye{bottom:534.982917px;}
.y26{bottom:553.722174px;}
.yd{bottom:566.976770px;}
.y25{bottom:579.317256px;}
.yc{bottom:580.231366px;}
.yb{bottom:593.943017px;}
.y24{bottom:604.912338px;}
.ya{bottom:606.740558px;}
.y9{bottom:627.765090px;}
.y8{bottom:662.272745px;}
.y7{bottom:683.068749px;}
.y6{bottom:703.864753px;}
.y5{bottom:754.140807px;}
.y4{bottom:765.110128px;}
.y3{bottom:780.421472px;}
.y2{bottom:797.789563px;}
.ha{height:24.823355px;}
.h8{height:25.057685px;}
.h5{height:27.921421px;}
.h9{height:31.501090px;}
.h7{height:37.589652px;}
.h4{height:37.944495px;}
.h6{height:43.263562px;}
.h3{height:72.309320px;}
.h2{height:840.295681px;}
.h1{height:840.500000px;}
.h0{height:842.000000px;}
.w1{width:594.857128px;}
.w0{width:595.000000px;}
.x0{left:0.000000px;}
.x3{left:24.909499px;}
.x4{left:33.822073px;}
.x2{left:41.820536px;}
.x1{left:120.891057px;}
.x5{left:315.367975px;}
.x6{left:322.223800px;}
.x7{left:451.570376px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-5.662912pt;}
._7{margin-left:-1.935628pt;}
._0{width:1.468823pt;}
._4{width:4.035339pt;}
._a{width:98.742170pt;}
._b{width:100.326475pt;}
._c{width:110.010100pt;}
._6{width:594.122642pt;}
._3{width:631.344899pt;}
._1{width:1051.158025pt;}
._9{width:1071.562485pt;}
._8{width:1130.065530pt;}
._2{width:1140.426358pt;}
.fs4{font-size:42.658470pt;}
.fs2{font-size:47.533724pt;}
.fs5{font-size:53.627791pt;}
.fs1{font-size:64.597112pt;}
.fs3{font-size:74.347619pt;}
.fs0{font-size:123.100156pt;}
.y0{bottom:2.000000pt;}
.y1{bottom:2.272425pt;}
.y23{bottom:287.335263pt;}
.y32{bottom:290.077593pt;}
.y22{bottom:299.218694pt;}
.y21{bottom:315.063268pt;}
.y31{bottom:326.641996pt;}
.y20{bottom:329.689029pt;}
.y30{bottom:358.331145pt;}
.y1f{bottom:360.768772pt;}
.y1e{bottom:372.652203pt;}
.y1d{bottom:388.496777pt;}
.y1c{bottom:400.380208pt;}
.y1b{bottom:412.263639pt;}
.y1a{bottom:424.147070pt;}
.y2f{bottom:426.584697pt;}
.y19{bottom:438.772831pt;}
.y18{bottom:453.398592pt;}
.y2e{bottom:455.531516pt;}
.y2d{bottom:469.852574pt;}
.y17{bottom:484.478335pt;}
.y2c{bottom:494.838249pt;}
.y16{bottom:499.104096pt;}
.y15{bottom:513.729857pt;}
.y14{bottom:539.629643pt;}
.y2b{bottom:550.294260pt;}
.y2a{bottom:582.897519pt;}
.y13{bottom:598.742094pt;}
.y29{bottom:615.500779pt;}
.y12{bottom:616.414889pt;}
.y11{bottom:634.697090pt;}
.y28{bottom:648.104038pt;}
.y27{bottom:674.003823pt;}
.y10{bottom:677.355560pt;}
.yf{bottom:695.028355pt;}
.ye{bottom:713.310556pt;}
.y26{bottom:738.296232pt;}
.yd{bottom:755.969026pt;}
.y25{bottom:772.423008pt;}
.yc{bottom:773.641821pt;}
.yb{bottom:791.924022pt;}
.y24{bottom:806.549784pt;}
.ya{bottom:808.987410pt;}
.y9{bottom:837.020119pt;}
.y8{bottom:883.030326pt;}
.y7{bottom:910.758332pt;}
.y6{bottom:938.486337pt;}
.y5{bottom:1005.521076pt;}
.y4{bottom:1020.146837pt;}
.y3{bottom:1040.561962pt;}
.y2{bottom:1063.719417pt;}
.ha{height:33.097807pt;}
.h8{height:33.410247pt;}
.h5{height:37.228561pt;}
.h9{height:42.001453pt;}
.h7{height:50.119536pt;}
.h4{height:50.592660pt;}
.h6{height:57.684749pt;}
.h3{height:96.412427pt;}
.h2{height:1120.394242pt;}
.h1{height:1120.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:793.142837pt;}
.w0{width:793.333333pt;}
.x0{left:0.000000pt;}
.x3{left:33.212666pt;}
.x4{left:45.096097pt;}
.x2{left:55.760714pt;}
.x1{left:161.188076pt;}
.x5{left:420.490633pt;}
.x6{left:429.631734pt;}
.x7{left:602.093834pt;}
}
